
@font-face {
	font-family: 'myOpenSans';
	src: url('/fonts/opensans-regular.ttf') format('truetype');
}
@font-face {
	font-family: 'myRoboto';
	src: url('/fonts/roboto-regular.ttf') format('truetype');
}
@font-face {
	font-family: 'myRobotoCondensed';
	src: url('/fonts/roboto-condensed_1.ttf') format('truetype');
}
@font-face {
	font-family: 'myRobotoCondensedBold';
	src: url('/fonts/roboto-boldcondensed_1.ttf') format('truetype');
}
@font-face {
	font-family: 'CB3czAUF';
	src: url('/fonts/CB3czAUF.ttf') format('truetype');
}
body {
	font-family: 'myOpenSans';
	/*-webkit-font-smoothing: subpixel-antialiased;*/
	font-size: 0.95rem;
	font-weight: 400;
	line-height: 1.5;
	min-width: 1000px;
	overflow: auto !important;
}
.text-roboto {
	font-family: 'myRoboto';
}
.text-roboto-cond {
	font-family: 'myRobotoCondensed';
}
.text-roboto-cond-bold {
	font-family: 'myRobotoCondensedBold';
}
@media (max-width: 1024px)
{
	.margins
	{
		display: none;
	}
}
body { padding-right: 0 !important }
.container.header-container,
.container.banner-container,
.container.main-container,
.container.wave-container,
.container.footer-container,
.container.footer-container-2,
.container.footer-container-3 {
	width: 100% !important;	flex-direction: column !important;
}
.container.header-container {
	/* z-index: 1; */
}
.container.banner-container {
	height: 360px;
	transition: background 1s linear;
	background-position-x: center;
	background-repeat: no-repeat;
}
.container.main-container {
	z-index: 5;
}
.container.main-container .wdo-main-left, .container.main-container .wdo-main-right {
	padding-top: 20px;
}
.container.main-container .wdo-main-right, .container.main-container .margins.right {
	background-color: #f3f1f1;
	min-height: 500px;
	padding-bottom: 50px;
}
.container.footer-container {
	background-color: #ece7e7;
	margin-top: -10px;
}
.container.footer-container .wdo-main-left {
	background: url('/images/ornament-w-bg.png');
	padding-top: 25px;
}
.container.footer-container .wdo-main-right {
	padding-top: 25px;
}
.container.footer-container-2 {
	background-color: #500a37;
	color: white;
	padding-top: 10px;
	min-height: 130px;
}
.container.footer-container-3 {
	background-color: #3f082b;
}
.container .main {
	min-width: 1000px;
	max-width: 1000px;
}
.wdo-main-left {
	/*max-width: 240px;*/

	min-width: 240px;
	max-width: 15%;
}
.wdo-main-right {
	max-width: calc(100% - 240px);
}
.container.banner-container .wdo-main-left {
	height: 360px;
	color: #bc94b1;
	background: url('/images/ornament.png') no-repeat;
	background-position: right 10px bottom 10px;
}
.container.banner-container .white-overlay {
	position: absolute;
	bottom: 0;
	background-color: rgba(255,255,255,0.5);
	width: 100%;
	height: 70px;
}
.wdo-main-banners-container {
	min-height: 90px;
	align-items: center;
}
.top-banner {
	padding: 10px !important; text-align: center !important;
}
.loader {
	width: 100%;
	display: none; 
	position: absolute;
	left: 0;
	z-index: 10;
	padding-top: 20%;
	min-height: 700px;
	height: 100%;
	border-radius: 5px;
	/*background-color: rgba(0,0,0,0.05);*/
}
.wdo-main-left.logo {
	background-color: #500a37;
	color: white;
}
.hidden {
	display: none;
}
.bg-purple-dark {
	background-color: #4a0933 !important;
	color: white;
}
.bg-purple-dark-2 {
	background-color: #500a37;
}
.bg-purple-dark-3 {
	background-color: #3f082b;
}
.bg-purple {
	background-color: #940a63;
	color: white;
}
.bg-yellow {
	background-color: #cecd48;
}
.bg-white {
	background-color: #fff;
}
.text-purple {
	color: #940a63 !important;
}
.text-purple-dark {
	color: #500a37 !important;
}
.text-purple-dark2 {
	color: #4e0534 !important;
}
.strong {
	font-weight: 800;
}
.shadow {
	box-shadow: 0px 0px 15px 0px;
}
.shadow.inset {
	box-shadow: inset 0px -3px 10px -5px !important;
}
.header-container-shadow {
	box-shadow: 0px 5px 5px -5px;
	position: relative;
	z-index: 6;
}
.main-container-shadow {
	box-shadow: 0px 3px 5px 3px;
}
.adv-container-shadow {
	box-shadow: inset 0px 5px 25px -15px;
}
.right-shadow {
	z-index: 1;
	box-shadow: 10px 0px 20px -15px;
}
.bottom-shadow {
	box-shadow: 0px 20px 30px -15px;
}
.bottom-shadow.sm {
	box-shadow: 0px 10px 10px -10px;
}
.mini-header-nav,.mini-header-nav:hover,.mini-header-nav:active,.mini-header-nav:focus {
	font-weight: 800;
	color: #a7a522;
	padding: 17px;
}
.main-nav {
	color: #000;
	padding: 10px 5px;
	font-size: 1rem;
	text-decoration: none !important;
}
.main-nav:hover:not(.active) {
	color: #940a63;
	background-color: rgba(0,0,0,0.05);
}
.main-nav.active {
	color: white;
	background-color: #940a63;
}
.main-nav .badge-pill {
	background-color: rgba(80,10,55,0.8);
}
.main-nav .dropdown-toggle::after {
	display:none
}
.main-nav a {
	color: black;
}
.main-nav.active a {
	color: white !important;
}
.profile-counter {
	display: none;
}
a.text-yellow {
	color: #cecd48;
}
a.text-yellow:hover {
	color: #b9b835;
}
.text-yellow {
	color: #a7a522;
}
h44 {
	font-size: 22px;
	font-weight: 800;
}
i.fa.active {
	color: #940a63;
}
.bottom
{
	position: absolute;
	bottom: 0;
	padding-bottom: 10px;
}
.bottom.right
{
	right: 0;
	padding-right: 10px;
	padding-bottom: 0px;
}
.pointer {
	cursor: pointer !important;
}
.text-truncate {
	display: block;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;
}
.opacity {
	opacity: 0.5;
}
.opacity:hover {
	opacity: 1;
}
/* ----- SCROLLBAR ----- */

.wdo-scrollbar::-webkit-scrollbar-track
{
	cursor: pointer;
	-webkit-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-moz-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-ms-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-o-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.wdo-scrollbar::-webkit-scrollbar
{
	cursor: pointer;
	width: 10px;
	background-color: #F5F5F5;
}

.wdo-scrollbar::-webkit-scrollbar-thumb
{
	cursor: pointer;
	border-radius: 10px;
	-webkit-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	-moz-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	-ms-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	-o-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #500a37;
}

/* ----- SCROLLBAR END ----- */

/* ----- bootstrap override ----- */
.form-control {
	border-radius: 0;
}
.badge {
	padding: .3em .4em;
}
.card-footer {
	padding: .75rem .6rem;
}
.jumbotron {
	background-color: #f3f1f1;
	margin-bottom: 0;
}
/* ----- bootstrap override END ----- */


/* ----- project ----- */

#projects-table, #project-responds-table {
	border-collapse: separate !important;
	border-spacing: 0px 10px !important;
}
#projects-table_info {
	text-align: center;
}
.project-entry td,.project-respond-entry td {
	cursor: pointer;
	background-color: #fff;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-style: solid;
	border-color:rgba(251,240,197,0.2);
	vertical-align: middle;
}
.project-entry td:first-child, .project-respond-entry td:first-child {
	border-left-width: 2px !important;
}
.project-entry td:last-child, .project-respond-entry td:last-child {
	border-right-width: 2px !important;
}
.project-entry:hover td, .project-respond-entry:hover td {
	border-color:rgba(251,240,197,1) !important;
}
.project-entry.vip td {
	background-color: #ebedc8;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-color: rgba(251,240,197,0.5);
}
.project-entry.no-pointer td, .project-respond-entry.no-pointer td {
	cursor: default;
}
tr.unreaded td {
	background-color: #f1ebef;
}
.project-table-title a.wdo-link
{
	text-decoration: underline !important;
	color: #500a37;
	font-weight: 800;
}
.project-table-cost {
	color: #500a37;
}
.project-cost {
	display: block;
	text-align: center;
	min-width: 60px;
	max-width: 90px;
	background: linear-gradient(to bottom, #f4cf40, #efbd39);
	padding: 10px 15px 10px 10px;
	color: #500a37;
	font-weight: 800;
}
.project-upload-attach {
	display: inline-block;
	text-align: center;
	padding: 0.5rem;
}
.performer_found {
	background-color: #fff;
	margin-left: 20px;
	padding: 10px;
	cursor: pointer;
	border: 1px solid rgba(228,227,139,0.4);
	max-width: 230px;
}
.performer_found.active {
	background-color: rgba(228,227,139,0.4) !important;
}
.performer_found:hover {
	background-color: rgba(228,227,139,0.1);
}
th.project-table-cost {
	min-width: 70px;
}
/* ----- END project ----- */

/* ----- project-respond  ----- */
.project-respond-container {
	border: 1px solid #dfd9d9;
	padding: 0px 15px;
	background-color: #fff;
	padding-bottom: 15px;
}
.project-respond-header {
	background-color: #fff;
	border: 1px solid #dfd9d9;
	padding: 15px;
	border-bottom: 0;
}
.attaches {
	border-top: 1px solid #dfd9d9;
	padding-top: 10px;
}
/*.attaches .img-thumbnail {
	min-height: 100px;
	max-height: 100px;
	cursor: pointer;
}*/

.responds-filter-all {
	cursor: pointer;
	width: 105px;
	height: 25px;
	background: url('/images/responds-filter-all.png') no-repeat center;
	float: left;
	margin-left: 5px;
}
.responds-filter-all:hover {
  background: url('/images/responds-filter-all-checked.png') no-repeat center;
  opacity: 0.3;
}
.responds-filter-all.checked {
  background: url('/images/responds-filter-all-checked.png') no-repeat center;
  opacity: 1 !important;
}

.responds-filter-deny {
  cursor: pointer;
  width: 70px;
  height: 25px;
  background: url('/images/responds-filter-deny.png') no-repeat center;
  float: left;
  margin-left: 5px;
}
.responds-filter-deny:hover {
  background: url('/images/responds-filter-deny-checked.png') no-repeat center;
  opacity: 0.3;
}
.responds-filter-deny.checked {
  background: url('/images/responds-filter-deny-checked.png') no-repeat center;
  opacity: 1 !important;
}

.responds-filter-no-status {
  cursor: pointer;
  width: 102px;
  height: 25px;
  background: url('/images/responds-filter-no-status.png') no-repeat center;
  float: left;
  margin-left: 5px;
}
.responds-filter-no-status:hover {
  background: url('/images/responds-filter-no-status-checked.png') no-repeat center;
  opacity: 0.3;
}
.responds-filter-no-status.checked {
  background: url('/images/responds-filter-no-status-checked.png') no-repeat center;
  opacity: 1 !important;
}

.responds-filter-ispolnitel {
  cursor: pointer;
  width: 110px;
  height: 25px;
  background: url('/images/responds-filter-ispolnitel.png') no-repeat center;
  float: left;
  margin-left: 5px;
}
.responds-filter-ispolnitel:hover {
  background: url('/images/responds-filter-ispolnitel-checked.png') no-repeat center;
  opacity: 0.3;
}
.responds-filter-ispolnitel.checked {
  background: url('/images/responds-filter-ispolnitel-checked.png') no-repeat center;
  margin-left: 5px;
  opacity: 1 !important;
}
/* ----- END project-respond ----- */
/* ----- PERFORMERS ----- */

.performer-container {
	border: 1px solid #dfd9d9;
	padding: 0px 15px;
	background-color: #fff;
}
.vertical-dotted {
	background-image: linear-gradient(#bbb 43%, rgba(0,0,0,.1) 10%);
	background-position: right;
	background-size: 1px 7px;
	background-repeat: repeat-y;
}
.performers-sort {
	cursor: pointer;
	display: inline-block;
	padding: 10px;
	font-weight: 800;
}
.performers-sort:hover {
	color: #924482;
}
.performers-sort.active {
	color: #924482;
	border-bottom: 3px solid #924482;
}
/* ----- END PERFORMERS ----- */
/* ----- PROFILE ---- */
.rounded-circle.shadow {
	box-shadow: 2px 2px 8px -3px;
}
.account-management {
	background: url('/images/account-management.png') no-repeat center center;
	height: 203px;
	padding: 15px 30px;
}
.nav-tabs .nav-link:focus {
	background-color: #f3f1f1;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #940a63 !important;
	background-color: #f3f1f1;
	border-color: #ddd;
	border: 0;
	border-bottom: 2px solid #940a63;
}
.nav-tabs .nav-link:hover {
	background-color: #eceeef;
}
.tab-pane {
	padding-top: 20px;
	padding-left: 10px;
}
#signature {
	background: white;
	display: inline-block;
	margin-left: 15px;
	position: relative;
	width: auto;
	padding: 10px;
	padding-right: 30px;
}
#signature:before {
	border-left: 45px solid transparent;
	border-right: 15px solid #f3f1f1;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	content: "";
	height: 0;
	right: 0;
	position: absolute;
	top: 0px;
	width: 0;
}
.dialogs-container {
	max-height: 1000px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 5px;
}
.dialog {
	box-shadow: 1px 2px 20px -12px;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	border: 1px solid #edebeb;
	padding: 15px 5px;
	background-color: #fff;
}
.dialog.unreaded {
	background-color: #ebedc8;
}
.dialog:hover {
	border-color: #cecd48;
	cursor: pointer;
}
.conversation-container {
	display: none;
}
.conversation-container .conversation-header {
	display: flex;
	width: 100%;
	padding: 15px;
}
.conversation-container .conversation-footer #conversation-message-text {
	border: 0;
	box-shadow: 0px 0px 12px -5px;
}
.conversation-container .conversation-messages {
	max-height: 800px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 5px;
	/* modding */
	background-color: #fff;
	box-shadow: 0px 2px 12px -5px;
}
.conversation-container .conversation-messages .message {
	display: flex;
	width: 100%;
	padding: 15px;
	/* modding */
	border-top: 1px solid #eee;
}
/* ----- END PROFILE ---- */

/* ----- PORTFOLIO  ---- */
.portfolio-image-action {
	float: left;
	bottom: 70px;
	opacity: .5;
}
.portfolio-image-action:hover {
	opacity: 1;
}
#portfolio_single {

	display: none;
	position: absolute;
	width: 720px;
	height: 100%;
	background-color: rgb(243, 241, 241);
	z-index: 5;

	/*
	display: none;
	position: fixed;
	background-color: rgb(243, 241, 241);
	top: 0px;
	margin-left: -10px;
	padding-top: 80px;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	width: 757px;
	z-index: 5;
	*/
}
/* ----- END PORTFOLIO ---- */
/* ----- CUSTOM SELECT ---- */
.dropdown-item.wdo-option.active,.dropdown-item.wdo-option:active,.dropdown-item.wdo-option:hover {
	cursor: pointer;
	background-color: #e3e284;
	color: #000;
}
.warning {
	border: 1px solid #a7a522;
}
/* ----- END CUSTOM SELECT ---- */
.word-break {
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}
.profile-menu {
	right: -35px;
	left: auto;
	top: 32px;
}
.profile-menu .dropdown-item.active,.profile-menu .dropdown-item:active {
	background-color: #fff !important;
}
.modal-open { overflow: auto !important; }
.modal-dialog {
	max-width: 700px;
}
.modal-dialog .modal-content {
	border-radius: 0px;
}
.modal-dialog .modal-content .modal-header {
	color: #a39fa4;
	background-color: #ece7e7;
}
.modal-dialog .modal-content .modal-header h5 {
	margin: 0 auto;
	font-weight: 800;
}
.city-entry {
	min-width: 200px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}
.city-entry.active, .city-entry:hover {
	background-color: #e3e284;
}
.wave{
	height: 10px;
	position: relative;
	z-index: 9;
}
.wave::before{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	background-repeat: repeat;
	height: 10px;
	background-size: 20px 20px;
	background-image:
		radial-gradient(circle at 10px -5px, white 12px, transparent 13px);
}
.wave.grey::before {
	background-image:
		radial-gradient(circle at 10px -5px, #f3f1f1 12px, transparent 13px);
}
.list-group.categories,.list-group.adv,.list-group.top-ten {
	margin-top: 1rem;
}
.top-ten {
	margin-bottom: 50px;
}
.top-ten .list-group-item, .left-adv .list-group-item {
	padding-left: 0px;
}
.top-ten .list-group-item .user-name {
	max-width: 60%;
	word-wrap: break-word;
	text-align: center;
}
.categories .list-group-item, .top-ten .list-group-item, .subcategories .list-group-item {
	cursor: pointer;
	border: 0px;
	border-top: 1px solid rgba(0,0,0,.125);
	padding-right: 0px;
}
.categories, .subcategories {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.categories .subcategories {
	display: none;
	padding-left: 20px;
}
.categories .custom-control.custom-radio, .subcategories .custom-control.custom-radio {
	margin-left: -20px;
	margin-top: 10px;
}
.category .custom-control-description, .subcategory .custom-control-description {
	max-width: 150px; word-wrap: break-word;
}
.subcategories {
	border-left: 1px solid rgba(238, 238, 238,0.5);
	display: block;
	margin: 0px 0px 20px 7px;
}
.subcategories .list-group-item {
	border: 0px;
	padding: 0.15rem 1.25rem;
}
.scenario-subcategory {
	border: 0 !important;
	padding: 0 !important;
	font-weight: 800;
}
.scenario-subcategory:not(.selected) {
	color: #636c72;
	font-weight: 400;
}
.scenario-card .card-header {
	cursor: pointer;
	color: #500a37;
}
.scenario-card .card-block {
	display: none;
}
.custom-checkbox {
	padding-left: 3.5rem;
}
.custom-checkbox .custom-control-indicator {
	padding: .8rem;
	border: 1px solid #ccc;
	border-radius: 0;
}
.custom-checkbox .custom-control-input:checked~.custom-control-indicator {
	background-color: #cecd48;
}
.custom-control-input:focus~.custom-control-indicator {
	box-shadow: none;
}
.custom-control-input:checked~.custom-control-indicator {
	background-color: #4a0933;
}
.custom-control-description {
	padding-top: 3px;
	font-size: 90%;
}
td.safe-deal {
	background-image: url('/images/advantage-safe-deal.png');
	background-repeat: no-repeat;
	/*background-position: center right 20px;*/
	background-position: bottom 10px right 50%;
	background-size: 18%;
}
td.vip {
	background-image: url('/images/advantage-vip.png');
	background-repeat: no-repeat;
	/*background-position: center right 10px;*/
	background-position: bottom 10px right 50%;
	background-size: 19%;
}
td.safe-deal.vip {
	background-image: url('/images/advantage-safe-deal.png'),url('/images/advantage-vip.png');
	/*background-position: center right 10px, center right 40px;*/
	background-position: bottom 10px right 35%, bottom 10px right 70%;
	background-size: 18%, 19%;
}
.project-respond-result-body {
	display: none;
}
ul.set-rating {
	padding: 0;
	margin: 0;
}
ul.set-rating li {
	cursor: pointer;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 1.25rem;
	border: 1px solid #fff;
	font-size: 0.75rem;
}
ul.set-rating li:last-child {
	padding: 5px 6px;
}
ul.set-rating li:hover {
	border-radius: 1.25rem;
	border: 1px solid #ccc;
}
ul.set-rating li.selected {
	background-color: #cecd48;
	border-color: #cecd48;
}
.respond-text {
	border: 0; margin-top: 15px; width: 95%;
}
.row-bordered {
	border: 1px solid #ece7e7;
}
.event-budget-dashboard {
	margin-left: 0;
	align-items: center;
	background-color: #fff;
	border: 1px solid;
	border-color: #c2c04d;
	border-radius: 5px;
	height: 70px;
}
.event-progress {
	position: relative;
	overflow: visible;
}
.event-progress .event-progress-bar {
	width: 0%;
	height: 15px;
	background-color: #cecd48;
	border-radius: 15px;
	border: 1px solid #c2c04d;
}
.event-progress .event-progress-current {
	position: absolute;
	left: -5px;
	top: -5px;
	color: #fff;
	background-color: #681149;
	border: 0;
	border-radius: 20px;
	padding: 5px 15px;
	font-size: .8rem;
	text-decoration: none !important;
	text-align: center;
}
.event-budget-scale .scale {
	border-radius: 5px; min-width: 27px; max-width: 27px; min-height: 70px; margin-left: 5px; 
}
.event-budget-scale .scale-default {
	background-color: #ccc;
}
.event-budget-scale .scale-red {
	background-color: #fd0803;
}
.event-budget-scale .scale-yellow {
	background-color: #fcb106;
}
.event-budget-scale .scale-green {
	background-color: #d5d362;
}
.event-project {
	line-height: 2.5rem;
}
.event-project .event-project-title {
	min-width: 190px;
	max-width: 190px;
}
.event-project .event-project-cost {
	min-width: 120px;
	max-width: 120px;
	text-align: center;
}
.event-project .event-project-performer {
	min-width: 200px;
}
.event-projects-to-create .row {
	line-height: 2rem;
}

.wdo-notice {
	display: inline-block;
	position: relative;
	background-color: #fff;
	border-color: #fff;
	border-radius: 20px;
	border-width: 1px;
	border-style: solid;
	color: #4e0534;
	min-width: auto;
	padding: 5px 12px;
	font-size: .9rem;
	font-weight: 400;
	z-index: 5;
}
.wdo-notice.yellow {
	background-color: #f6f6ef;
	border-color: #dfdd90;
	color: #a29b14;
}

.user-adv {
	display: flex;
	flex-wrap: wrap;
	margin: 10px auto;
	/* padding: 10px 0; */
	width: 210px;
	overflow: hidden;
	max-height: 140px;
	cursor: pointer;
}
.user-adv.preview {
	background-color: antiquewhite;
}

.user-adv .top-block {
	display: flex;
	flex-direction: row;
	padding-top: 10px;
}
.user-adv .top-block .logo {
	display: flex;
	flex-direction: column;
	min-width: 80px;
	max-width: 80px;
	height: 80px;
}
.user-adv .top-block .title {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	color: #940a63;
	font-weight: bolder;
	justify-content: center;
	text-align: center;
}
.user-adv .bottom-block {
	display: flex;
	flex-direction: row;
}
.user-adv .bottom-block .descr {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	text-align: left;
	color: #000;
	font-weight: 800;
	font-size: 0.67rem;
	line-height: 1.2rem;
	text-align: center;
	padding-top: 10px;
}
.adv-filter {
	display: inline-block;
	padding: 5px;
	width: auto;
}
.adv-filter:hover {
	cursor: pointer;
	color: #4e0534;
}
.adv-filter.active {
	font-weight: 800;
	color: #4e0534;
}
.adv-bordered {
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 5px;
	background-color: #fff;
}